<div class="parent">
  <div class="f-child"></div>
  <div class="s-child">
    <div class="image-box">
      <div class="image-url">
        <img src={{imgurl}} alt="">
      </div>
    </div>
    <div class="content">
      <div class="content-child">
        <div class="barcontainer">
          <div class="progress-container">
            <div class="progress-bar" *ngIf="progressBarFilled" [style.height.%]="progress" [ngStyle]="transition"></div>
          </div>
        </div>
        <div class="content-child-box">
          <ul>
            <li>
              <div class="heading-c-c">
                <p>Step 1</p>
                <h3 (click)="toggleFunction(1)" [style.color]="activeHeadingIndex === 1 ? '#fff' : ''">One quick call jump-starts your search.</h3>
              </div>
              <div *ngIf="showContent==1"  class="hide-content">
                <p>Assess your needs in a quick, 15-minute discovery call with our Client Success Team. That's all it takes to start our search for your perfect match.</p>
              </div>
            </li>
            <li>
              <div class="heading-c-c">
                <p>Step 2</p>
                <h3 (click)="toggleFunction(2)" [style.color]="activeHeadingIndex === 2 ? '#fff' : ''">One quick call jump-starts your search.</h3>
              </div>
              <div *ngIf="showContent==2" class="hide-content">
                <p>Assess your needs in a quick, 15-minute discovery call with our Client Success Team. That's all it takes to start our search for your perfect match.</p>
              </div>
            </li>
            <li>
              <div class="heading-c-c">
                <p>Step 3</p>
                <h3 (click)="toggleFunction(3)" [style.color]="activeHeadingIndex === 3 ? '#fff' : ''">One quick call jump-starts your search.</h3>
              </div>
              <div *ngIf="showContent==3" class="hide-content">
                <p>Assess your needs in a quick, 15-minute discovery call with our Client Success Team. That's all it takes to start our search for your perfect match.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>


